<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-sm bg-white p-8 rounded-lg shadow-lg relative">
    <h2 class="text-2xl font-bold text-center text-blue-600 mb-6">
      Forgot Password
    </h2>

    <form (ngSubmit)="onForgotPassword()">
      <!-- Email -->
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Enter your email"
          required
        />
      </div>

      <!-- Loading Spinner -->
      <div *ngIf="isLoading" class="flex justify-center mb-4">
        <div
          class="animate-spin inline-block w-6 h-6 border-4 border-blue-500 border-t-transparent rounded-full"
        ></div>
      </div>

      <div class="flex justify-between items-center mb-3">
        <a
          [routerLink]="'/login'"
          class="text-blue-600 hover:text-blue-800"
          [class.pointer-events-none]="isLoading"
          [class.opacity-50]="isLoading"
        >
          Login
        </a>
        <a
          [routerLink]="'/home'"
          class="text-blue-600 hover:text-blue-800"
          [class.pointer-events-none]="isLoading"
          [class.opacity-50]="isLoading"
        >
          Back to Home
        </a>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="isLoading"
        class="w-full bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 focus:outline-none mb-6 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Send Reset Email
      </button>
    </form>
  </div>
</div>

<div class="fixed top-5 right-5 z-50 space-y-2">
  <div
    *ngIf="successMessage"
    class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded shadow-md"
  >
    {{ successMessage }}
  </div>

  <div
    *ngIf="errorMessage"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded shadow-md"
  >
    {{ errorMessage }}
  </div>
</div>
